.advantages {
	color: $primory-black;
	margin: 84px auto;
	
	@media screen and (min-width: $tablet) {
		margin: 100px 39px;
	}

	@media screen and (min-width: $desktop) {
		margin: 130px 55px;
	}

	h2 {
		margin-bottom: 20px;
	}

	.container {
		& > div {
			max-width: 500px;
		}

		@media screen and (min-width: $desktop) {
			display: flex;
			padding-left: 155px;
			padding-right: 125px;
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}

	.section-description {
		margin: 0 0 44px 0;

		font-size: 18px;
		line-height: 1.67em;
		letter-spacing: 0.02em;
		color: $primory-text-color-lite-fone;
	}

	.achievement-lists-container {
		display: flex;
		margin-left: auto;

		// width: 100%;
		// margin-right: auto;

		@media screen and (min-width: $desktop) {
			margin: 0;
		}

		.achievement-list {
			max-width: 194px;

			@media screen and (min-width: $tablet) {
				max-width: 210px;
			}

			@media screen and (min-width: $desktop) {
				margin-left: 0;
				max-width: 170px;
			}
		}

		.achievement-list:first-child {
			margin-right: 30px;
			margin-left: auto;
		}

		.achievement-list:last-child {
			margin-top: 35px;
		}

		.achievement-list li:not(:last-child) {
			margin-bottom: 30px;
		}

		.achievements-item-container {
			padding: 20px;
			width: 100%;

			background-color: $fone-advantages-footer-end;

			.achievements-digit {
				display: block;
				margin-bottom: 6px;

				font-size: 42px;
				line-height: 1.36em;
				text-align: center;
				letter-spacing: 0.05em;
			}

			.sign-plus {
				margin-left: 2px;
				font-weight: 600;
				font-size: 16px;
				line-height: 1em;
				vertical-align: super;
				color: $accent-orange;
			}

			.achievements-text {
				margin: 0;
				padding: 0;
				font-weight: 600;
				font-size: 11px;
				line-height: 1.36em;
				text-align: center;
			}
		} //.achievements-item-container
	} //.achievement-list-container
} //why-us
