//Основной контейнер хедера
path {
  fill: inherit;
  stroke: inherit;
}
.centering {
  margin-left: auto;
  margin-right: auto;
}

// Задний фон героя-хедера
.container-header {
  animation-duration: 10000ms;
  animation-timing-function: linear;
  animation-delay: 1000ms;
  animation-iteration-count: infinite;

  animation-name: slide-back-img-mob;
  max-width: 480px;
  height: 580px;
  background-image: url(../images/mobile/mobile-slider1@1x.jpg);
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url(../images/mobile/mobile-slider1@2x.jpg);
      animation-name: slide-back-img-mob2;
    }
  }

  @media screen and (min-width: $mobile) {
    margin: 0 0 0 auto;
    animation-name: slide-back-img-tabl;
    max-width: 609px;
    height: 680px;
    background-image: url(../images/tablet/tablet-slider1@1x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url(../images/tablet/tablet-slider1@2x.jpg);
        animation-name: slide-back-img-tabl2;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    animation-name: slide-back-img-desk;
    max-width: 1125px;

    height: 680px;
    background-image: url(../images/desktop/desktop-slider1@1x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url(../images/desktop/desktop-slider1@2x.jpg);
        animation-name: slide-back-img-desk2;
      }
    }
  }
}

.section-header {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $tablet) {
    padding-left: 159px;
  }
  @media screen and (min-width: $desktop) {
    padding-left: 155px;
    max-width: 1280px;
  }
}

.Logo {
  fill: $primory-white;
  @media screen and (min-width: $tablet) {
    fill: $primory-black;    
  }
}

.link-logo {
  display: inline-block;
  margin-left: 30px;
  margin-top: 40px;
  text-decoration: none;

  @media screen and (min-width: $tablet) {
    position: absolute;
    margin: 0;
    left: 50px;
    top: 30px;
  }
  @media screen and (min-width: $desktop) {
    left: 40px;
  }
}

.list-header {
  padding: 0px;
  margin: 0px;
  list-style: none;

  @media screen and (min-width: $tablet) {

    padding-left: 40px;
    display: flex;
  }
}

.list-item-header {
  display: block;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: $tablet) {
    margin: 32px 0 0 24px;
  }
  @media screen and (min-width: $desktop) {
    margin: 52px 0 0 0;
  }
}

.link-header {
  display: block;
  margin-bottom: 24px;

  font-family: $font-text;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: $primory-black;
  text-decoration: none;
  transition: color $trans-time-and-bezier;

  @media screen and (min-width: $tablet) {
    margin: 20px 0 0 0;
    
    font-size: 12px;
    color: $primory-white;    
  }

  @media screen and (min-width: $desktop) {
    margin: 0 40px 0 0;
  }
  &:hover,
  &:focus {
    outline: none;
    color: $accent-orange;
  }
}

.text-section-header {
  margin-top: 112px;
  margin-left: 31px;
  @media screen and (min-width: $tablet) {
    margin-top: 156px;
    margin-left: 120px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 204px;
    margin-left: 100px;
  }
}

.header-title {
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 0;

  font-size: 48px;
  line-height: 1.67;
  font-family: $font-title;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $primory-white;

  @media screen and (min-width: $desktop) {
    margin: 0;
    font-size: 72px;
    line-height: 1.18;
  }
}

.header-text {
  display: block;
  margin: 0;
  padding: 0;

  max-width: 306px;
  font-weight: normal;  
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: $primory-text-color-dark-fone;

  @media screen and (min-width: $tablet) {
    max-width: 370px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.67;
    max-width: 486px;
    margin-top: 20px;
  }
}

.button-line {
  outline-style: none;
  border-style: none;
  padding: 0;
  margin: 0;

  // display: none;
  &::before {
    content: '';
    display: block;
    // margin-right: 20px;
    width: 8px;
    height: 2px;
    background-color: $translucent-text-dark-fone;
  }
  &:hover.button-line::before,
  &:focus.button-line::before {
    background-color: $primory-white;
    width: 18px;
  }
}

.radio-lines {
  position: absolute;
  display: none;
  top: 50%;
  width: 18px;
  height: 26px;
  line-height: 0;
  flex-wrap: wrap;
  font-size: 0;
  text-align: end;

  & li:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $tablet) {
    display: block;
    right: 39px;
  }
  @media screen and (min-width: $desktop) {
    right: 50px;    
  }
}

.contacts-header {
  margin-top: 64px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    // justify-content: center;
    margin-top: 40px;
    margin-right: 39px;
    margin-left: auto;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    // align-items: baseline;
    margin-left: auto;
    margin-right: 55px;
  }
}

.soc-header {
  display: block;
  margin-top: 64px;
  margin-left: 100px;

  @media screen and (min-width: $tablet) {
    position: absolute;
    display: flex;
    margin: 0;
    align-items: flex-end;
    left: 76px;
    bottom: 140px;
    transform: rotate(-90deg);
    transform-origin: left;
  }
  
  @media screen and (min-width: $desktop) {
    left: 82px;
  }
}

.line {
  &::before {
    content: '';
    display: block;
    margin-left: -100px;
    margin-bottom: -10px;

    width: 60px;
    height: 1px;
    background: $translucent-text-dark-fone;
  }

  @media screen and (min-width: $tablet) {
    margin: 0 40px 0 0;
  }
  
}

.soc-link-header {
  display: block;

  font-family: $font-text;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  text-decoration: none;
  
  color: $primory-black;
  transition: color $trans-time-and-bezier;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &:hover,
  &:focus {
    outline: none;
    color: $accent-orange;
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.button-slide {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-top: 181px;
    margin-right: 39px;
    justify-content: flex-end;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 142px;
  }
}

.slide-bottom {
  outline-style: none;
  background-color: transparent;
  border-style: none;
  color: $translucent-text-dark-fone;
  padding: 0;
  transition: color $trans-time-and-bezier;

  &:not(:first-child) {
    margin-left: 26px;
  }

  &::after {
    content: '';
    display: block;
    margin-top: 8px;
    width: 60px;
    height: 1px;
    background: $translucent-text-dark-fone;
  }
  &:hover.slide-bottom::after,
  &:focus.slide-bottom::after {
    background: $primory-white;
  }

  &:hover,
  &:focus {
    color: $primory-white;
  }

  &.first {
    text-align: start;
  }
  &.second {
    text-align: end;
  }
}

// анимация бекграунда animation-duration: 3000ms;
@keyframes slide-back-img-desk {
  0% {
    background-image: url(../images/desktop/desktop-slider1@1x.jpg);
  }

  33% {
    background-image: url(../images/desktop/desktop-slider2@1x.jpg);
  }

  66% {
    background-image: url(../images/desktop/desktop-slider3@1x.jpg);
  }
  100% {
    background-image: url(../images/desktop/desktop-slider1@1x.jpg);
  }
}
@keyframes slide-back-img-desk2 {
  0% {
    background-image: url(../images/desktop/desktop-slider1@2x.jpg);
  }

  33% {
    background-image: url(../images/desktop/desktop-slider2@2x.jpg);
  }

  66% {
    background-image: url(../images/desktop/desktop-slider3@2x.jpg);
  }
  100% {
    background-image: url(../images/desktop/desktop-slider1@2x.jpg);
  }
}
@keyframes slide-back-img-tabl {
  0% {
    background-image: url(../images/tablet/tablet-slider1@1x.jpg);
  }

  33% {
    background-image: url(../images/tablet/tablet-slider2@1x.jpg);
  }

  66% {
    background-image: url(../images/tablet/tablet-slider3@1x.jpg);
  }
  100% {
    background-image: url(../images/tablet/tablet-slider1@1x.jpg);
  }
}
@keyframes slide-back-img-tabl2 {
  0% {
    background-image: url(../images/tablet/tablet-slider1@2x.jpg);
  }

  33% {
    background-image: url(../images/tablet/tablet-slider2@2x.jpg);
  }

  66% {
    background-image: url(../images/tablet/tablet-slider3@2x.jpg);
  }
  100% {
    background-image: url(../images/tablet/tablet-slider1@2x.jpg);
  }
}
@keyframes slide-back-img-mob {
  0% {
    background-image: url(../images/mobile/mobile-slider1@1x.jpg);
  }

  33% {
    background-image: url(../images/mobile/mobile-slider2@1x.jpg);
  }

  66% {
    background-image: url(../images/mobile/mobile-slider3@1x.jpg);
  }
  100% {
    background-image: url(../images/mobile/mobile-slider1@1x.jpg);
  }
}
@keyframes slide-back-img-mob2 {
  0% {
    background-image: url(../images/mobile/mobile-slider1@2x.jpg);
  }

  33% {
    background-image: url(../images/mobile/mobile-slider2@2x.jpg);
  }

  66% {
    background-image: url(../images/mobile/mobile-slider3@2x.jpg);
  }
  100% {
    background-image: url(../images/mobile/mobile-slider1@2x.jpg);
  }
}
