<section class="advantages">
	<div class="container">
		<div>
			<p class="section-title-lite-fone">старая традиционная школа</p>
			<h2>Почему приходят именно к нам?</h2>
			<p class="section-description">О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз
				прочитать.</p>
		</div>
		<div class="achievement-lists-container">
			<ul class="achievement-list">
				<li>
					<div class="achievements-item-container">
						<span class="achievements-digit">
							600<!--  
					--><span class="sign-plus"><!--  
					-->+</span>
						</span>
						<p class="achievements-text">
							Довольных клиентов в день
						</p>
					</div>
				</li>
				<li>
					<div class="achievements-item-container">
						<span class="achievements-digit">
							20<!--  
					--><span class="sign-plus"><!--  
						-->+</span>
						</span>
						<p class="achievements-text">
							Лучших мастеров Киева
						</p>
					</div>
				</li>
			</ul>
			
			<ul class="achievement-list">
				<li>
					<div class="achievements-item-container">
						<span class="achievements-digit">
							50<!--  
					--><span class="sign-plus"><!--  
					-->+</span>
						</span>
						<p class="achievements-text">
							Наград за отличный сервис
						</p>
					</div>
				</li>
				<li>
					<div class="achievements-item-container">
						<span class="achievements-digit">
							100<!--  
					--><span class="sign-plus"><!--  
					-->+</span>
						</span>
						<p class="achievements-text">
							Подарков постоянным клиентам
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>